.cart {
    margin: 100px 0px;
}

.cart hr {
    height: 1px;
    background-color: #E2E2E2;
    border: none;
}

.cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: grey;
    font-size: max(1vw, 12px);
}

.cart-items-item {
    margin: 10px 0px;
    color: black;
}

.cart-items-item img {
    width: 50px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

.cart-items-item img:hover {
    transform: scale(1.1);
}

.cart-items-item div {
    max-width: 40px;
    text-align: center;
    border: 1px solid #EBEBEB;
    padding: 8px 8px;
    font-size: 12px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.cart-items-remove-icon {
    cursor: pointer;
    color: #ebc334;
    font-size: 16px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.cart-items-remove-icon:hover {
    color: #ebc334;
    transform: scale(1.2);
}

.cart-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
}

.cart-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    color: #555555;
}

.cart-total hr {
    margin: 10px 0px;
}

.cart-total button {
    border: none;
    color: white;
    background-color: #ebc334;
    width: max(15vw, 200px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-total button:hover {
    background-color: #f7d200;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(255, 76, 36, 0.3);
}

.cart-promocode {
    flex: 1;
}

.cart-promocode p {
    color: #555555;
}

.cart-promocode-input {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
    padding: 8px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-promocode-input input {
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    flex: 1;
    font-size: 14px;
}

.cart-promocode-input button {
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cart-promocode-input button:hover {
    background-color: #333333;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 750px) {
    .cart-bottom {
        flex-direction: column-reverse;
    }
    .cart-promocode {
        justify-content: start;
    }
}
